@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.card-perspective {
  perspective: 1400px;
  perspective-origin: center;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
